*{
    font-family: IRANYEKAN;
}
body{
    direction: rtl;
    text-align: center;
    color: pi;
}
.login{
    width:65%;
    /*background-image: linear-gradient(to top left, #32e74af6 0%, #346643f3 100% );*/
    background-image: url("image/background-login.jpg");
    margin-right: 17%;
    opacity: 0.8;
    color: white;
    margin-top: 7%;
    border-radius: 4px;
}
.form{
    padding-top: 20px;
}
.textbox{
    background-color: rgba(85, 85, 85, 0.733);
    border: none;
    color: blanchedalmond;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.textbox:hover{
    box-shadow: rgba(255, 192, 163, 0.404) 0px 19px 38px, rgba(255, 183, 135, 0.438) 0px 15px 12px;
}
.submit{
    background-color: rgb(255, 201, 150);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.submit:hover{
    box-shadow: rgba(255, 255, 255, 0.644) 0px 19px 38px, rgba(255, 255, 255, 0.678) 0px 15px 12px;
}
.signUp{
    background-image: linear-gradient(to top left, #4e4ce4f6 0%, #011d9bf3 100% );
    width:65%;
    margin-right: 17%;
    opacity: 0.8;
    color: white;
    margin-top: 7%;
    border-radius: 4px;
}