*{
    font-family: IRANYEKAN;
}
body{
    direction: rtl;
    text-align: center;
}
.login{
    width:50%;
    /*background-image: linear-gradient(to top left, #32e74af6 0%, #346643f3 100% );*/
    background-image: url("image/background-login.jpg");
    margin-right: 27%;
    opacity: 0.8;
    color: white;
    margin-top: 12%;
    border-radius: 4px;
}
.form{
    padding-top: 20px;
}
.textbox{
    background-color: rgba(85, 85, 85, 0.733);
    border: none;
    color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.textbox:hover{
    border-color: rgb(251, 248, 253);
    border-radius: 3px;
}